<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>{{ polyv.title }}</title>
</head>
<script>
</script>
<body>
    <script src='//player.polyv.net/script/polyvplayer.min.js'></script>
    <div id='myPlayer'></div>
    <script>
        var player = polyvObject('#myPlayer').videoPlayer({
            'width':'100%',
            'height':'350',
            'vid' : '{{ polyv.videoId }} ',
            'ts':'{{ ts }}',
            'sign':'{{ sign }}',
            'df': '2'
        });
    </script>
</body>
</html>